* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      direction: rtl;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.content {
      padding: 5px 10px;
      margin: 0 auto;
      width: 100%;
}

@media screen and (min-width: 768px) {
      .content {
            width: 750px;
      }
}


@media screen and (min-width: 992px) {
      .content {
            width: 970px;
      }
}

@media screen and (min-width: 1200px) {
      .content {
            width: 1170px;
      }
}

body {
      margin: 0;
      /* font-family: Arial, sans-serif; */
      line-height: 1.6;
      background-color: #f4f4f4;
}

.main {
      min-height: 100vh;
}

header {
      background-color: #00aaff;
      color: white;
      padding: 50px 20px;
      text-align: center;
}

header h1 {
      margin: 0;
}

.cta-button {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: white;
      color: #00aaff;
      text-decoration: none;
      border-radius: 5px;
}

.btn-box {
      display: flex;
      width: 100%;
      justify-content: center;
      align-content: center;
      align-items: center;
}


article {
      padding: 20px;
}

#features {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding: 10px;
      flex-wrap: wrap;
}

#features-page {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding: 10px;
      flex-wrap: wrap;
}

#features h2 {
      width: 100%;
      display: block;
      margin: 40px 0;
}

.feature {
      margin: 10px;
      width: 300px;
}

.feature a {
      display: block;
      text-decoration: none;
      padding: 10px 20px;
      background-color: white;
      color: #00aaff;
      text-decoration: none;
      border-radius: 5px;
}

footer {
      text-align: center;
      padding: 10px 0;
      background-color: #333;
      color: white;
}